

    <div class="d-flex justify-content-center align-items-center vh-100">
  <div class="card card-container text-center p-4">
    <img
    alt=""
      id="profile-img"
      src="assets/img/logop.jpg"
      class="profile-img-card mb-3"
      height="150"
      width="150"
    />
       <!-- Spinner -->
        <div *ngIf="loading$ | async" class="spinner-container">
          <mat-progress-spinner color="primary" mode="indeterminate"></mat-progress-spinner>
        </div>
   <form (ngSubmit)="onSubmit()">
      <input type="password" [(ngModel)]="password" name="password" placeholder="Nouveau mot de passe" required>
      <button type="submit">Réinitialiser</button>
    </form>
            <p> <a href="" routerLink="/login">login</a></p>

  </div>
</div>
