<div class="d-flex justify-content-center align-items-center vh-100">
  <div class="card card-container text-center p-4">
    <img
    alt=""
      id="profile-img"
      src="assets/img/logop.jpg"
      class="profile-img-card mb-3"
      height="150"
      width="150"
    />
     <div *ngIf="loading$ | async" class="spinner-container">
          <mat-progress-spinner color="primary" mode="indeterminate"></mat-progress-spinner>
        </div>
    <form (ngSubmit)="onSubmit()">
      <input
        type="email"
        [(ngModel)]="email"
        name="email"
        placeholder="Votre email"
        class="form-control mb-3"
        required
      />
      <button class="btn btn-primary w-100" type="submit">Envoyer</button>
    </form>
  </div>
</div>
